
                    .chartMenu {
                        width: 100vw;
                        height: 40px;
                        background: #1A1A1A;
                        color: rgba(255, 26, 104, 1);

                    }

                    .chartMenu p {
                        padding: 10px;
                        font-size: 20px;
                    }

                    .chartCard {
                        display: inline-block;
                        /* width: 100vw; */
                        margin-top: 5px;
                        margin-bottom: 100px;
                        /* height: calc(100vh - 5px); */
                        /* background: rgba(255, 26, 104, 0.2); */
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .chartBox {
                        width: 95%;
                        padding: 20px;
                        border-radius: 9px;
                        border: solid 1px rgb(209, 209, 209);
                        background: white;
                    }
                